<section class="apartments">
    <div class="container">
        <h1>Apartments</h1>
        <div class="row">
            <div class="filter_wrap">
                <ul>
                    <li class="filter active" data-filter="all">All Apartments</li>
                    <li class="filter" data-filter=".studio">Studio Apartment</li>
                    <li class="filter" data-filter=".two_room">Two-Roomed Flat</li>
                    <li class="filter" data-filter=".large">Large Apartment</li>
                </ul>
            </div>
            <div class="mix_wrap">
                <div class="mix col-md-4 item_wrap_mx studio">
                    <a href="#"><img src="img/item1.jpg" alt="item1"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx studio">
                    <a href="#"><img src="img/item2.jpg" alt="item2"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx large">
                    <a href="#"><img src="img/item3.jpg" alt="item3"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx two_room">
                    <a href="#"><img src="img/item4.jpg" alt="item4"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx large">
                    <a href="#"><img src="img/item5.jpg" alt="item5"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx two_room">
                    <a href="#"><img src="img/item6.jpg" alt="item6"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx two_room">
                    <a href="#"><img src="img/item7.jpg" alt="item7"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx studio">
                    <a href="#"><img src="img/item8.jpg" alt="item8"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx large">
                    <a href="#"><img src="img/item9.jpg" alt="item9"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx two_room">
                    <a href="#"><img src="img/item10.jpg" alt="item10"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx large">
                    <a href="#"><img src="img/item11.jpg" alt="item11"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mix col-md-4 item_wrap_mx large">
                    <a href="#"><img src="img/item12.jpg" alt="item12"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>Lorem ipsum dolor sit amet</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">№ of rooms:</p>
                                    <p class="right">1</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Total area:</p>
                                    <p class="right">50 sq.m.</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Number of storeys:</p>
                                    <p class="right">2</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">Price:</p>
                                    <p class="right">200$</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="cont_butt">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>