<section class="apartments_detail">
    <div class="container">
        <h1>{{apartment.name}}</h1>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img class="main_img" ng-src="{{mainImageUrl}}" alt="{{apartment.id}}">
            </div>
            <div class="detail_img col-md-1" ng-repeat="img in apartment.images">
                <img ng-src="{{img}}" ng-click="setImage(img)">
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-2 head_info">{{apartment.room_desc}}</div>
                    <div class="col-md-2 head_info">{{apartment.area_desc}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_year}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_condition}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_storeys}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_price}}</div>
                </div>
                <p>{{apartment.description}}</p>
            </div>
        </div>

        <div class="row">
            <div class="filter_wrap">
                <ul>
                    <li><a href="#/apartments" class="active">All Apartments</a></li>
                    <li><a href="#/studio">Studio Apartment</a></li>
                    <li><a href="#/two-rooms">Two-Roomed Flat</a></li>
                    <li><a href="#/large">Large Apartment</a></li>
                </ul>
            </div>
            <div class="mix_wrap" >
                <div class="col-md-4 item_wrap_mx">
                    <a href="#"><img ng-src="{{apartment.imageUrl}}" alt="{{apartment.id}}"></a>
                    <div class="hidden">
                        <div class="hide_desc">
                            <h2>{{apartment.name}}</h2>
                            <div class="hide_desc_item">
                                <div class="item_string clearboth">
                                    <p class="left">{{apartment.room_desc}}</p>
                                    <p class="right">{{apartment.room_desc_num}}</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">{{apartment.area_desc}}</p>
                                    <p class="right">{{apartment.area_desc_num}}</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">{{apartment.desc_storeys}}</p>
                                    <p class="right">{{apartment.desc_storeys_num}}</p>
                                </div>
                                <div class="item_string clearboth">
                                    <p class="left">{{apartment.desc_price}}</p>
                                    <p class="right">{{apartment.desc_price_num}}</p>
                                </div>
                                <div class="button_wrap">
                                    <a href="#/apartments/{{apartment.id}}" class="cont_butt"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>