<section class="apartments_detail">
    <div class="container">
        <h1>{{apartment.name}}</h1>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img class="main_img" ng-src="{{mainImageUrl}}" alt="{{apartment.id}}">
            </div>
            <div class="detail_img col-md-1" ng-repeat="img in apartment.images">
                <img ng-src="{{img}}" ng-click="setImage(img)">
            </div>
            <div class="col-md-10 col-md-offset-1">
                <h2>Main Characteristics </h2>
                <div class="row">
                    <div class="col-md-2 head_info">{{apartment.room_desc}}</div>
                    <div class="col-md-2 head_info">{{apartment.area_desc}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_year}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_condition}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_storeys}}</div>
                    <div class="col-md-2 head_info">{{apartment.desc_price}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2 head_info num">{{apartment.room_desc_num}}</div>
                    <div class="col-md-2 head_info num">{{apartment.area_desc_num}}</div>
                    <div class="col-md-2 head_info num">{{apartment.desc_year_num}}</div>
                    <div class="col-md-2 head_info num">{{apartment.desc_condition_num}}</div>
                    <div class="col-md-2 head_info num">{{apartment.desc_storeys_num}}</div>
                    <div class="col-md-2 head_info num">{{apartment.desc_price_num}}</div>
                </div>
                <h2>Description</h2>
                <p>{{apartment.description}}</p>
                <a href="#/apartments"><i class="fa fa-arrow-left" aria-hidden="true"></i></i></a>
            </div>
        </div>
    </div>
</section>